<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="src/css/normalize.css" title="" type="" />
        <link rel="stylesheet" href="src/css/foundation.css" title="" type="" />
        <link rel="stylesheet" href="src/css/style.css">

        <title>Locations</title>

        <script type="text/template" id='search-form-template'>
          <div  class="large-9 medium-9 columns">
            <input type="text" id="locationInput" value="" placeholder="Type a location name to search"/>
          </div>
          <div  class="large-3 medium-3 columns">
            <input type="button" class="submit button tiny" id="searchButton" value="search" />
          </div>
        </script>

        <script type="text/template" id='search-result-template'>
          <ul>
            <% _.each(locations, function(location) { %>
              <li>
                <div class="panel large-12 columns">
                  <h5><%= location.name %></h5>
                  <h6><%= location.description %></h6>
                  <a href="#" class="like button tiny right"><% if(location.liked) { %>unlike<% }else{ %>like<% } %></a>
                </div>
              </li>
            <% }); %>
          </ul>
        </script>

        <script type="text/template" id='liked-place-template'>
          <ul>
            <% _.each(likedLocations, function(location) { %>
              <li><%= location.name %></li>
            <% }); %>
          </ul>
        </script>
    </head>
    <body>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar>

        </nav>
      </div>

         <div id="container">
             <div class="row">
                 <div id="searchForm">

                 </div>
             </div>

            <div class="row">
              <hr class="large-12 columns" />
            </div>

            <div class="row">

              <div id="searchResults" class="large-8 medium-8 columns">
                  <h4>Search results</h4>
                  <div id="results">
                  </div>
              </div>

              <div class="large-4 medium-4 columns">
                  <h4>Places I liked</h4>
                  <nav id='likedPlaces'>
                  </nav>
              </div>

            </div>
         </div>

         <script type="text/javascript" src="build/js/bundle.js"></script>
    </body>
</html>
